<template>
  <main class="container" style="padding-top: 1.5em; padding-bottom: 1.5em;">
    <div class="flex module-header" style="margin-bottom: 0.5em;" v-if="!readOnly">
      <a class="button button-xs button-primary" style="padding-left: 11px; padding-right: 11px" @click="add()">
        <i class="fa fa-plus" style="margin-right: 9px"></i> Neue Aufgabe
      </a>
      <a class="button button-xs" style="margin-left: 0.5em; padding-left: 11px; padding-right: 11px" @click="exportCSV()">
        <i class="fa fa-file-export" style="margin-right: 9px"></i> Als CSV exportieren
      </a>
      <a class="button button-xs" style="margin-left: 0.5em; padding-left: 11px; padding-right: 11px" @click="linkCopy()">
        <i class="fa fa-eye" style="margin-right: 9px"></i> Link für Lesezugriff kopieren
      </a>
      <div class="button button-xs task-progress" style="border: none; background: transparent; cursor: default; padding-left: 1em;">
        <div><div :style="{width: percentage + '%'}"></div></div>
        <span>
          <strong>{{percentage}}%</strong>
          <span style="opacity: 0.5">abgeschlossen</span>
        </span>
      </div>
      <input style="width:1px;height:1px;margin:0;padding:0;opacity:0" id="copy">
    </div>
    <div style="height: 5em; display: flex; align-items: center; justify-content: center;" v-if="loading">
      <div class="spinner spinner-xxl"></div>
    </div>
    <section>
      <div style="position:relative; margin-top: -21px; height: 10px;">
        <div class="hover-below" v-dragon ondragstart="return false" :dragon-payload="null"></div>
      </div>
      <Task 
        v-for="task in ($route.params.id ? tasks.filter(x => x.GlobalID == $route.params.id) : tasks.filter(x => x.Parent == null))"
        :task="task"
        :odd="true"
        :key="task.GlobalID"
        :searchterm="search"
        :id="'task_' + task.GlobalID"
        :options="options"
        :readOnly="readOnly"
        @update="requireUpdate = !requireUpdate"
      ></Task>
    </section>
    <a class="button button-xs button-primary" style="width: 100%; text-align: left; padding-left: 11px" @click="add(null, 'bottom')" v-if="!readOnly">
      <i class="fa fa-plus" style="margin-right: 9px"></i> Neue Aufgabe
    </a>
  </main>
</template>

<script>
import TaskWidget from "./TaskWidget";
import Task from "./task";
import Vue from "vue";
import Dragon from "v-dragon";

export default {
  components: { Task: TaskWidget },
  props: {
    search: String,
  },
  directives: { dragon: Dragon.directive() },

  routes() {
    // Routen für den VueRouter
    // Beispiel: { path: '/user/:id', component: this }
    // Mehr Informationen und Beispiele: https://router.vuejs.org/guide/essentials/dynamic-matching.html
    return [{ path: "/tasks", component: this },
            { path: "/tasks/:id", component: this}];
  },

  data() {
    // Hier kann die Komponente vorbereitet werden.
    // Die Hauptkomponente eines Moduls soll alle benötigten Daten speichern.
    setTimeout(() => this.load());

    // Auf alles in diesem Objekt kann per Vue zugegriffen werden.
    return {
      tasks: [],
      loading: true,
      options: [],
      requireUpdate: false,
      working: false,
      readOnly: false,
      link: "",
    };
  },

  // Dynamisch erzeugte Variablen - https://vuejs.org/v2/guide/computed.html
  computed: {},

  // Auf Änderungen überwachte Variablen - https://vuejs.org/v2/guide/computed.html#Watchers
  watch: {},

  // Methoden der Komponente
  methods: {


async drop() {
       let rest = await window.api.POST("/api/tasks/"+ encodeURIComponent(window.event.data.from.GlobalID)+ "/move-below/0");
        },

    async load() {
      // TODO: sync changes automatically
      this.loading = true;
      let tasks;
      try {
        tasks = this.$route.params.id ? await Task.getWithChild(this.$route.params.id) : await Task.all();
        this.link = tasks.link;
      } catch (err) {
        console.error(err);
        if (err.message.match(/^network error: 404 /)) router.push("/404");
        else if (err.message.match(/^network error: 401 /)) router.push("/");
        else { alert(err.message); window.location.reload(); }
        return;
      }
      tasks.sort((a, b) => a.Order - b.Order);
      Vue.set(this, "tasks", tasks);
      this.loading = false;

      if(!this.$route.params.id){
        let options;
        try {
          options = await api.GET("/api/users/user");
          console.log(options)
        } catch (err) {
          console.error(err);
          if (err.message.match(/^network error: 401 /)) router.push("/");
          else { alert(err.message); window.location.reload(); }
          return;
        }
        Vue.set(this, "options", options.content)
      }

      // Disable Fields for Guests
      let me = await api.GET("/api/users/user/me");
      if (me.status == 401) this.readOnly = true;

      this.loading = false;
    },

    async linkCopy(id) {
      let l;
      if (!id) {
        l = this.link;
      } else {
        let r = await api.GET("/api/tasks/" + id);
        l = r.headers.get("Masp-Permanent-Link")
      }
      console.log(l);
      document.getElementById("copy").value = window.location.protocol + "//" + window.location.host + l;
      document.getElementById("copy").select();
      document.execCommand("copy");
    },

    async add(parent, where) {
      if (this.working) return;
      this.working = true;
      let o = 0;
      let siblings = this.tasks.filter(x => x.Parent == parent);
      for (let i = 0; i < siblings.length; i++) {
        if (!where == "bottom" && siblings[i].Order < o) o = siblings[i].Order;
        else if (where == "bottom" && siblings[i].Order > o)
          o = siblings[i].Order;
      }
      if (where == "bottom") o++;

      const task = new Task(
        parent ? { Parent: parent, Order: o } : { Order: o }
      );
      if (where == "bottom") this.tasks.push(task);
      else if (Number.isInteger(parseInt(where))) this.tasks.splice(this.tasks.findIndex(x => x.GlobalID == where) + 1, 0, task);
      else this.tasks.unshift(task);

      try {
        setTimeout(() => document.querySelector(
          "#task_null>article>div>.containerTitle>input"
        ).focus());
        let t = await task.save();
        task.GlobalID = t.GlobalID;
        if (Number.isInteger(parseInt(where))) {
          await api.POST(
            "/api/tasks/" + task.GlobalID + "/move-below/" + where
          );
        }
      } catch (err) {
        console.error(err);
        alert(err.message);
        return this.load();
      }

      setTimeout(() => {
        var el = document.querySelector(
          "#task_" + task.GlobalID + ">article>div>.containerTitle>input"
        );
        if (document.activeElement != el) el.focus();
        this.working = false;
      });
    },

    async remove(gid, confirmed) {
      const i = this.tasks.findIndex(x => x.GlobalID == gid);
      var oldTask = this.tasks[i];
      try {
        if (this.tasks[i] === undefined) return;
        if (!confirmed && !confirm("Wollen sie wirklich löschen?")) return;
        this.tasks.splice(i, 1);
        await oldTask.remove();
      } catch (err) {
        console.error(err);
        this.tasks.splice(i, 0, oldTask);
        alert(err.message);
        return;
      }
    },
    async exportCSV() {
      const r = await api.GET("/api/tasks/export.csv");
      const dl = document.createElement("a");
      dl.download = "export.csv";
      dl.href = "data:text/plain," + encodeURIComponent(r.content);
      dl.setAttribute(
        "style",
        "position: fixed; pointer-events: none; opacity: 0;"
      );
      document.body.appendChild(dl);
      setTimeout(() => dl.click());
    },

    getTasksByParent(gid) {
      return this.tasks.filter(x => x.Parent == gid);
    }
  },

  computed: {
    percentage() {
      this.requireUpdate;

      const tasks = this.$children.filter(x => x.task);
      let max = 0;
      let is = 0;

      for (let i = 0; i < tasks.length; i++) {
        let weight = tasks[i].task.Metadata;
        if (
          weight == undefined ||
          weight.weight === undefined ||
          weight.weight == ""
        )
          weight = 1;
        else weight = parseFloat(weight.weight);
        if (isNaN(weight)) weight = 1;

        max += weight * 100;
        is += tasks[i].percentage * weight;
      }

      if (max == 0) {
        return 0;
      }
      return Math.floor(is / max * 100);
    }
  },

  settings() {
    return {
      module: "Aufgabenmodul",
      settings: [
        {
          type: "textarea",
          name: "tasks-states",
          title:
            'Mögliche Statuswerte <code>[{"name":"open","value":0.0-1.0,"icon":"fa fa-bicycle","style":{"background":"#f00"}}]</code>'
        }
      ]
    };
  },

  async beforeRouteUpdate(to, from, next) {
    await this.load();
    return next();
  }
};
</script>

<style>
section.task {
  padding: 0.5em;
  padding-right: 0;
  margin: 0.5em 0;
  border: 1px solid #e0e0e0;
  background: #f0f0f0;
}
section.task input, section.task button, section.task .button {
  margin-bottom: 0;
  margin-top: 0;
  background: transparent;
  border: none;
  padding: 0.1em 0.4em;
  height: 1.8em;
  min-width: 2em;
  display: flex; align-items: center; justify-content: center;
}
section.task button, section.task .button { cursor: pointer; }
.multiselect:not(.multiselect--active) .multiselect__input { display: none }
section.task .action {
  margin-bottom: -0.5em; margin-top: -0.5em;
  height: 2.8em;
  min-width: 2.5em;
}
section.task .action>* {
  font-size: 1.2em;
}
section.task button:not(:disabled):hover, section.task .button:not(:disabled):hover { background: rgba(0,0,0,0.06); }
section.odd-task {
  background: #fff;
  border: 1px solid #e0e0e0;
}
section.task section.task {
  margin-left: 1em;
  margin-right: -1px;
}
section.task section.task:last-child {
  margin-bottom: 0;
}
.task-progress {
  display: flex;
  font-size: 0.8em;
  align-items: center;
  padding-left: 1.9em;
}
.task-progress > * {
  margin-right: 0.5em;
}
.task-progress > div {
  height: 5px;
  width: 100px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.task-progress > div > div {
  background: #863067;
  height: 5px;
}
.datetime-picker-main { z-index: 100000; } /* TODO: darf links nicht aus dem Bildschirm ragen */
section.task .mobileonly { display: none }
@media screen and (max-width: 50rem) {
  .module-header { flex-direction: column }
  .module-header>* { margin-left: 0 !important; margin-top: 0.3em }
  .module-header>.task-progress { margin-top: 0.9em }
  .nomobile { display: none }
  section.task .mobileonly { display: block }
  section.task > article > .flex {
    flex-wrap: wrap;
  }
  section.task > article > .flex > .containerTitle {
    flex-basis: calc(100% - 16px - 8em);
    order: 1;
  }
  section.task > article > .flex > .action, section.task > article > .flex > .action.button {
    order: 2;
    margin-left: 0 !important;
  }
  section.task > article > .flex > .button, section.task > article > .flex > .extra,
  .multiselect,
  .containerDate {
    order: 3;
    max-width: none;
    text-align: left;
  }
  section.task>article>.flex>.button:not(.action), section.task>article>.flex>.extra,
  .multiselect, .containerDate {
    margin-top: 0.1em;
  }
  .task-progress { flex-wrap: wrap; }
  .task-progress>strong { width: 100%; margin-top: 0.2em }
  
  .multiselect__tags {
    text-align: left;
  }
  .datetime-picker__button,
  .multiselect__placeholder {
    width: 100%;
    text-align: left;
  }
  .spacer {
    margin-right: auto;
  }
  .containerTitle + .nomobile + :not([style*="none"]),
  .containerTitle + .nomobile + [style*="none"] + :not([style*="none"]),
  .containerTitle + .nomobile + [style*="none"] + [style*="none"] + :not([style*="none"]) {
    margin-left: 1.25em;
  }
  .task-progress {
    margin-top: 0.2em;
  }

    /* TODO: empty description, assign and deadline button take up a lot of space */
    /* TODO: deadline wraps */
    /* TODO: add to description fold logic */
  }

  section.task { position: relative; }
.hover-below {
  position: absolute; top: 100%; left: 0; right: 0; height: 10px;
  z-index: 10000;
}
.hover-below.dragon-aim {
  background: #863067; opacity: 0.2;
}

section.task.dragon-aim > .hover-onto {
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  background: #863067; opacity: 0.2;
}
</style>
