<template>
  <div class="multistate-checkbox" :style="state.style||{}" :data-title="state.name" :class="state.classes||[]" tabindex="0" @click="toggle()" @keydown.enter="toggle()" @keydown.space="toggle()">
    <i v-if="state.icon" :class="state.icon"></i>
  </div>
</template>

<script>
export default {
  props: ["value", "states", "disabled"],
  data() {
    return {
      state: this.states[this.byName(this.value, 0)]||{},
    }
  },
  methods: {
    byName(name, fallback) {
      for (let i = 0; i < this.states.length; i++) {
        if (this.states[i].name == name) return i;
      }
      return fallback === undefined ? -1 : fallback;
    },
    toggle() {
      if (this.disabled) return;
      this.state = this.states[(this.byName(this.state.name, 0) + 1) % this.states.length]||{};
      this.$emit('input', this.state.name);
      this.$emit('change', this.state.name);
      window.event.preventDefault();
    }
  }
}
</script>

<style>
  .multistate-checkbox {
    position: relative;
    display: inline-flex; align-items: center; justify-content: center;
    min-width: 16px; width: 16px; height: 16px; transform: translateY(0.4em);
    margin-right: 0.2em;
    cursor: pointer;
    border-radius: 3px; border: 1px solid rgba(0,0,0,0.25);
    background: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .multistate-checkbox i { font-size: 12px; }
  .multistate-checkbox:hover {
    border-color: rgba(0,0,0,0.5);
  }
  .multistate-checkbox.checked {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><path d='M-.5 5l4 4 7-8' stroke='%23fff' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .multistate-checkbox:before {
    position: absolute; top: -1px; left: 13px; bottom: -1px; display: inline-block;
    border: 1px solid transparent; border-radius: 0 3px 3px 0; border-left: none;
    background-color: inherit; color: inherit; border-color: inherit;
    content: attr(data-title);
    font-size: 10px; padding: 1px 3px 0;
    white-space: nowrap;

    opacity: 0; transition: opacity 0.2s; pointer-events: none;
  }
  .multistate-checkbox:hover:before {
    opacity: 1;
  }
</style>
