<template>

  <section class="task" :class="{'odd-task': odd}" v-show="isVisible || showall" v-dragon :dragon-payload="{ task: task, below: false }" v-on:dragon-drag="drag">
    <div class="hover-below" v-dragon ondragstart="return false" :dragon-payload="{ task: task, below: true }"></div>
    <div class="hover-onto"></div>
    <article :class="{readOnly: readOnly}">
      <div class="flex">
        <MultistateCheckbox dragon-handle style="z-index: 10" @change="save()" v-model="task.Status" ref="msc" :states="getStates()" :disabled="readOnly"></MultistateCheckbox>
        <div class="containerTitle">
          <input
            type="text"
            v-model="task.Title"
            @change="save()"
            @blur="deleteIfEmpty()"
            :style="{
              'background-color':isResult&&searchterm?'#fe4':'transparent',
              'text-decoration':$refs.msc && $refs.msc.state.value >= 1?'line-through':'none',
              'font-weight':task.Title.match(/!\s*$/)?'bold':'normal',
              'color':task.Title.match(/!!\s*$/)?task.Title.match(/!!!\s*$/)?'#f00':'#d81':'#000'
            }"
            :class="{blink:!!task.Title.match(/!!!!\s*$/)}"
            :disabled="readOnly"
            v-on:keyup.up="taskUp()"
            v-on:keyup.down="taskDown()"
            v-on:keyup.enter="taskEnter()"
            v-on:keyup.space="taskCheck()"
            v-on:keyup.delete="taskDelete()"
          >
          <textarea
            type="text"
            v-model="task.Description"
            @change="save()"
            class="description"
            placeholder="Beschreibung"
            :class="{empty:task.Description.trim().length==0 && !descriptionIsFocused()}"
            ref="description"
            @input="updateHeight()"
            @blur="$forceUpdate()"
            :disabled="readOnly"
          ></textarea>
        </div>

        <span class="nomobile"><i class="fas fa-spin fa-spinner-third" v-show="working" style="margin: 0.35em 0.5em"></i></span>

        <button v-show="task.Description.trim().length==0 && !descriptionIsFocused()" class="button" @click="focusDescription()" v-if="!readOnly"><small><i class="fal fa-comment-alt-lines"></i></small></button>

        <Multiselect
          v-model="assignedTo"
          :options="options"
          :multiple="true"
          label="name"
          track-by="user_id"
          :searchable="true"
          open-direction="bottom"
          placeholder=""
          :option-height="29"
          @input="save()"
          :disabled="readOnly"
        >
          <template slot="tag" slot-scope="{ option, remove }"><span class="multiselect__tag" v-show="option.mail" :style="{background:option.user_id == currentUserID() ? '#863067' : '#aaa'}"><span>{{ option.name }}</span><i class="multiselect__tag-icon" @click="remove(option)" aria-hidden="true" tabindex="1"></i></span></template>
          <template slot="placeholder"><i class="fal fa-users"></i></template>
        </Multiselect>

        <div class="containerDate">
          <date-time-picker
            v-model="task.DueDate"
            format="yyyy-LL-dd HH:mm"
            @input="save()"
            :clear-button="true"
            locale="de"
            :close-button="true"
            :today-button="true"
            :disabled="readOnly"
          >
            <template v-slot:choose-date>
              <small><i class="fal fa-alarm-clock"></i></small>
            </template>
          </date-time-picker>
        </div>
        <button class="button mobileonly" style="text-align: center" v-on:click="addMeta()"><small><i class="fal fa-layer-plus"></i></small></button>

        <small disabled style="padding: 0; pointer-events: none" class="button mobileonly"><i class="fas fa-spin fa-spinner-third" v-show="working" style="margin: 0.35em 0.5em"></i></small>
        <span class="extra spacer"></span>
        
        <!-- Add Button -->
        <button @click="getModule().add(task.GlobalID)" v-if="!readOnly" class="action" style="margin-left: 0.5em">
          <i class="fas fa-plus"></i>
        </button>
        <a :href="task.Link" v-if="!readOnly" class="button action">
          <i class="fas fa-eye"></i>
        </a>
        <button @click="getModule().remove(task.GlobalID)" v-if="!readOnly" class="action">
          <i class="fas fa-trash"></i>
        </button>
      </div>
      
      <!-- Tabelle mit Metadaten -->
      <table class="metadata" v-show="task.Description.trim().length>0 || Metadata.length>0 || descriptionIsFocused()">
        <!--<tr>
          <th>Name</th>
          <th>Wert</th>
        </tr>-->
        <tr v-for="(value, i) in Metadata" v-bind:key="i">
          <td v-if="!readOnly"><button class="button button-s" v-on:click="Metadata.splice(i,1); save(); updateMetaWidth();"><i class="fas fa-trash"></i></button></td>
          <td><input @change="save()" ref="metadataName" @input="updateMetaWidth()" size=6 placeholder="Name" v-model="value.name" style="font-weight: bold; width: auto;"></td>
          <td><input @change="save()" ref="metadataValue" @input="updateMetaWidth()" size=6 placeholder="Wert" v-model="value.value" style="width: auto"></td>
        </tr>
        <tr v-if="!readOnly" class="nomobile">
          <td v-if="Metadata.length"></td>
          <td colspan="2"><button class="button button-s text-left" style="width: 100%" v-on:click="addMeta()" v-on:mouseenter="metaHover = true" v-on:mouseleave="metaHover = false" ref="addMeta">&nbsp;<i class="fas fa-plus"></i>&nbsp;Metadatum hinzufügen&nbsp;</button></td>
        </tr>
      </table>

     
    </article>
    <div  class="task-progress" v-if="task.GlobalID && hasChildren()">
      <div><div :style="{width: percentage + '%'}"></div></div>
      <span>
        <strong>{{percentage}}%</strong>
        <span style="opacity: 0.5">abgeschlossen</span>
      </span>

      &nbsp;&nbsp;&nbsp;

      <strong @click="open=! open"><a style="text-decoration: none" href onclick="return false">{{ open ? "Ausblenden" : "Anzeigen" }}  ({{ ($refs.childTasks || []).length }})  <i class="fas" :class="{'fa-chevron-down':!open,'fa-chevron-up':open}"></i></a></strong>
      
    </div>
    <Task v-show="open"
      v-for="child in (task.GlobalID ? getModule().getTasksByParent(task.GlobalID) : [])"
      :task="child"
      :odd="!odd"
      :key="child.GlobalID"
      :searchterm="searchterm"
      :showall="isResult || showall"
      @visiblechild="isVisible = true; $emit('visiblechild')"
      ref="childTasks"
      @update="update()"
      :id="'task_' + child.GlobalID"
      :options="options"
      :readOnly="readOnly"
    ></Task>
  </section>
</template>

<script>
import Vue from "vue";

import MultistateCheckbox from "./MultistateCheckbox";
import Multiselect from "vue-multiselect";

import DateTimePicker from "vue-vanilla-datetime-picker"; //Import Datumsanzeige

import Dragon from "v-dragon";
console.log(Dragon);

export default {
  props: ["task", "odd", "searchterm", "showall", "options", "readOnly"],
  name: "Task",
  components: {
    MultistateCheckbox,
    Multiselect,
    DateTimePicker
  },
  directives: { dragon: Dragon.directive() },
  data() {
    setTimeout(() => this.$emit("update"));
    setTimeout(() => this.loadAssignedTo());
    setTimeout(() => this.updateHeight());
    setTimeout(() => this.updateMetaWidth());
    var metadata = [];
    for (var Name in this.task.Metadata) {
      metadata.push({ name: Name, value: this.task.Metadata[Name] });
    }
    return {
      child: {},
      isVisible: true,
      isResult: false,
      requireUpdate: false,
      assignedTo: null,
      open: true, 
      Metadata: metadata,
      working: 0,
      metaHover: false
    };
  },
  watch: {
    searchterm() {
      this.isResult = this.isVisible =
        this.task.Title.toLowerCase().indexOf(this.searchterm.toLowerCase()) >
        -1;
      if (this.isVisible) this.$emit("visiblechild");
    },
    "task.Status": function() {
      this.$emit("update");
    }
  },

  methods: {
    currentUserID() {
      return (window.user || {}).user_id;
    },

    async drag() {
      this.working = 1;
      window.event.cancelBubble = true;
      let rest;
      if (window.event.data.to == null) {
        rest = await window.api.POST("/api/tasks/"+ encodeURIComponent(window.event.data.from.task.GlobalID)+ "/move-below/0");
      } if (window.event.data.to.below) {
        rest = await window.api.POST("/api/tasks/"+ encodeURIComponent(window.event.data.from.task.GlobalID)+ "/move-below/"+ encodeURIComponent(window.event.data.to.task.GlobalID));
      } else {
        rest = await window.api.POST("/api/tasks/"+ encodeURIComponent(window.event.data.from.task.GlobalID)+ "/move-into/"+ encodeURIComponent(window.event.data.to.task.GlobalID));
      }
      setTimeout(p => p.requireUpdate = !p.requireUpdate, 0, this.$parent);
      if (rest.ok) this.applyMove(rest.content)
      setTimeout(() => this.$emit("update"));
      if (this.working > 1) {
        this.working = 3;
        setTimeout(() => this.save());
      } else this.working = 0;
    },
    async applyMove(moritz) {
      const stitch = this.getModule().tasks;
      for (const GlobalID in moritz) {
        const change = moritz[GlobalID];
        for (const index in stitch) {
          const task = stitch[index];
          if (task.GlobalID == GlobalID) {
            task.Parent = moritz[GlobalID].Parent || null;
            task.Order = moritz[GlobalID].Order
          }
        }
      }
      stitch.sort(function(first, second) {
        if (first.Order> second.Order) return 1
        if (first.Order< second.Order) return -1
        if (first.GlobalID>second.GlobalID) return -1
        if (first.GlobalID< second.GlobalID) return 1
        return 0
      })
    },

    async loadAssignedTo() {
      let v = [];
      for (let index = 0; index < this.task.AssignedTo.length; index++) {
        const add = this.$route.params.id ? "?for=" + this.$route.params.id : "";
        let r = await api.GET(
          "/api/users/user/" + encodeURIComponent(this.task.AssignedTo[index]) + add
        );
        if (
          !r.content ||
          !r.content.user_id ||
          r == "sorry user does not exist"
        )
          v.push({
            mail: "",
            user_id: this.task.AssignedTo[index],
            name: this.task.AssignedTo[index]
          });
        else v.push(r.content);
      }
      Vue.set(this, "assignedTo", v);
    },
    async save() {
      if (this.working > 0 && this.working < 3) {
        this.working = 2;
        return;
      }
      this.working = 1;
      if (await this.deleteIfEmpty()) return;
      try {
        this.task.AssignedTo = this.assignedTo.map(x => x.user_id.toString());
        this.task.Metadata = this.Metadata.reduce(function(acc, value) {
          if (value.name != "" || value.value != "")
            acc[value.name] = value.value;
          return acc;
        }, {});
        let c = await this.task.save();
        if (this.working > 1) {
          this.working = 3;
          setTimeout(() => this.save());
        } else {
          this.working = 4;
          clearTimeout(window.workingTimeout);
          window.workingTimeout = setTimeout(() => (this.working = 0), 300);
          this.task.apply(c);
        }
      } catch (err) {
        console.error(err);
        this.working = 0;
        alert(err.message);
        return this.getModule().load();
      }
    },

    async deleteIfEmpty() {
      if (
        (this.task.Title.trim() == "" || this.task.Title == "-") &&
        this.task.AssignedTo.length == 0 &&
        this.task.Description.trim() == "" &&
        this.task.DueDate == null &&
        Object.values(this.task.Metadata).filter(x => x && x.trim()).length ==
          0 &&
        !document.activeElement.P("#task_" + this.task.GlobalID) &&
        !this.hasChildren()
      ) {
        await this.getModule().remove(this.task.GlobalID, true);
        return true;
      }
      return false;
    },
    addMeta() {
      this.Metadata.push({ name: "", value: "" });
      setTimeout(() => this.updateMetaWidth());
    },
    update() {
      this.requireUpdate = !this.requireUpdate;
      setTimeout(() => this.$emit("update"));
    },
    getModule() {
      let p = this.$parent;
      while (p.save) p = p.$parent;
      return p;
    },
    getStates() {
      return JSON.parse(window.config["tasks-states"] || "[]");
    },
    getState(name) {
      return JSON.parse(window.config["tasks-states"] || "[]").filter(
        x => name == x.name
      )[0];
    },
    hasChildren() {
      const tasks = this.getModule().tasks;
      for (let i = 0; i < tasks.length; i++)
        if (tasks[i].Parent == this.task.GlobalID) return true;
      return false;
    },
    updateHeight() {
      this.$refs.description.style.height = "1em";
      this.$refs.description.style.height =
        this.$refs.description.scrollHeight + "px";
    },
    updateMetaWidth() {
      let maxNameLength = 0,
        maxValueLength = 0;
      for (let i = 0; i < this.Metadata.length; i++) {
        if (this.Metadata[i].name.length > maxNameLength)
          maxNameLength = this.Metadata[i].name.length;
        if (this.Metadata[i].value.length > maxValueLength)
          maxValueLength = this.Metadata[i].value.length;
      }
      for (let i = 0; i < this.Metadata.length; i++) {
        this.$refs.metadataName[i].size = Math.max(maxNameLength, 6);
        this.$refs.metadataValue[i].size = Math.max(maxValueLength, 6);
      }
    },
    focusDescription() {
      this.task.Description = "...";
      setTimeout(() => {
        this.$refs.description.focus();
        this.task.Description = "";
      });
    },
    descriptionIsFocused() {
      return (
        document.activeElement == this.$refs.description ||
        (this.Metadata.length == 0 &&
          (document.activeElement == this.$refs.addMeta || this.metaHover))
      );
    },
    //Tastatursteuerung TODO!!!
    taskUp() {
      var els = [
        ...document.querySelectorAll("section.task .containerTitle>input")
      ];
      els.indexOf(window.event.target);
      els[els.indexOf(window.event.target) - 1].focus();
    },
    taskDown() {
      var els = [
        ...document.querySelectorAll("section.task .containerTitle>input")
      ];
      els.indexOf(window.event.target);
      els[els.indexOf(window.event.target) + 1].focus();
    },
    taskEnter() {
      //this.getModule().add(this.task.GlobalID);
      if (window.event.ctrlKey) {
        this.getModule().add(this.task.GlobalID);
      } else {
        this.getModule().add(this.task.Parent, this.task.GlobalID);
      }
    },
    taskCheck() {
      if (window.event.ctrlKey) {
        window.child = this.$children[0];
        this.$children[0].$el.click();
      }
    },
    taskDelete() {
      //this.getModule().add(this.task.GlobalID);
      if (window.event.ctrlKey) {
        this.taskDown();
        this.getModule().remove(this.task.GlobalID);
      }
    }
  },
  computed: {
    percentage() {
      setTimeout(() => this.$emit("update"));
      this.requireUpdate; // update if a child updates

      let max = 0;
      let is = 0;
      let self = parseFloat((this.getState(this.task.Status) || {}).value || 0);

      if (this.$refs.childTasks && this.$refs.childTasks.length) {
        for (let i = 0; i < this.$refs.childTasks.length; i++) {
          let weight = this.$refs.childTasks[i].task.Metadata.weight;
          if (weight === undefined) weight = 1;
          else weight = parseFloat(weight);
          if (isNaN(weight)) weight = 1;

          max += weight * 100;
          is += this.$refs.childTasks[i].percentage * weight;
        }
      } else {
        return self * 100;
      }

      if (max == 0) return 0;
      if (self >= 1) {
        return Math.floor(is / max * 100);
      } else {
        return Math.min(Math.floor(is / max * 100), 99);
      }
    }
  }
};
</script>

<style>
@import "./node_modules/vue-multiselect/dist/vue-multiselect.min.css";
.multiselect {
  min-height: 0;
  padding: 0;
  width: auto;
  max-width: 20%;
  align-self: flex-start;
}
.multiselect--active {
  min-width: 150px;
}
.multiselect__select {
  display: none;
}
.multiselect__tags {
  min-height: 0;
  padding: 0;
  border: none;
  background: transparent;
  text-align: right;
}
.multiselect--active .multiselect__input {
  border: 1px solid #e8e8e8 !important;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
/*.multiselect__tags-wrap:empty ~ .multiselect__input { top: 0; }*/
.multiselect__tag {
  margin-top: 2px;
  margin-bottom: 0;
  margin-right: 7px;
  padding: 3px 22px 2px 5px;
  cursor: pointer;
}
.multiselect__element {
  margin: 0;
  padding: 0;
}
.multiselect__option:after {
  display: none;
}
.multiselect__content-wrapper {
  top: calc(100% + 1.8em);
}
.multiselect__placeholder {
  padding-right: 10px;
  padding: 0.4em 0.6em;
  cursor: pointer;
  margin-bottom: -2px;
  transition: background 0.2s ease-in-out;
}
.multiselect__placeholder:hover {
  background: rgba(0,0,0,0.06);
}
.multiselect__tag-icon::after {
  position: relative;
  top: -2px;
}
.multiselect__tag-icon {
  width: 18px;
}
.multiselect__tags-wrap {
  padding-left: 8px;
  margin-top: 3px;
  display: inline-block;
}
.datetime-picker__button small,
button.button small, .multiselect__placeholder {
  color: #444;
  font-size: 14px;
  font-weight: normal;
}
.description {
  font-size: 0.85em;
  min-height: 1.55em;
  border: none;
  background: transparent !important;
  padding: 0.1em 0.5em;
  margin: 0 0 0.5em;
  resize: none;
}
.containerTitle {
  flex-grow: 1;
}
.description.empty:not(:focus) {
  display: none;
}

table.metadata {
  width: auto;
  margin-left: 1.1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
table.metadata td {
  padding: 0;
}
table.metadata,
table.metadata tr,
table.metadata td,
table.metadata button,
table.metadata input {
  background: transparent;
}
table.metadata,
table.metadata tr:first-child,
table.metadata tr:first-child td {
  border-top: none;
}
table.metadata,
table.metadata tr,
table.metadata tr td:first-child {
  border-left: none;
}
table.metadata,
table.metadata tr:last-child,
table.metadata tr:last-child td {
  border-bottom: none;
}
table.metadata,
table.metadata tr,
table.metadata tr td:last-child {
  border-right: none;
}

.multiselect__tag-icon:hover {
  background: rgba(255, 255, 255, 0.4);
}
.multiselect__tag-icon:after {
  color: rgba(255, 255, 255, 0.8) !important;
}

.readOnly {
  margin-right: 8px;
}
fieldset[disabled] .multiselect, .multiselect--disabled {
  pointer-events: none;
  background: transparent !important;
}
:not(:focus):not(:active) + .description.empty:not(:focus):not(:active):not(:hover) { display: none; }

.containerDate {
  justify-content: flex-end;
}
/* TODO: use own css */
.date-picker {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}
.date-picker,
.date-picker__row,
.weekday__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
}
.date-picker__row,
.weekday__row {
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.weekday__row {
  margin-bottom: 10px;
}
.date-picker__cell,
.weekday__cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.date-picker__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.date-picker__month-header,
.date-picker__year-header {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.date-picker__day {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.date-picker__day--next,
.date-picker__day--previous {
  opacity: 0.4;
}
.date-picker__day--disabled {
  opacity: 0.1;
}
.date-picker__cell--selected {
  background: #eee;
}
.date-picker__days,
.date-picker__months,
.date-picker__years {
  margin-bottom: 10px;
}
.date-picker__month-button,
.date-picker__year-button {
  width: 100%;
  margin-bottom: 3px;
}
.text-slider__value {
  text-align: center;
}
.time-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.datetime-picker {
  position: relative;
}
.datetime-picker-main {
  position: absolute;
  z-index: 1;
  right: 0;
}
.datetime-picker-inline,
.datetime-picker-main {
  width: 320px;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid grey;
}
.datetime-picker-inline {
  position: relative;
}
.datetime-picker-inline--disabled {
  opacity: 0.7;
}
.datetime-picker-inline--disabled:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.time-picker__button {
  width: 100%;
}
.date-picker__button {
  width: 100%;
  margin-bottom: 10px;
}
.clear__button,
.close__button,
.today__button {
  width: 100%;
  margin-top: 10px;
}

@keyframes blink {
  from {
    transform: scale(1);
  }
  to {
    text-shadow: 0 0 7px #f20;
    color: #c00;
    transform: scale(1.2);
  }
}
.containerTitle > input {
  transform-origin: 0 50%;
  position: relative;
}
.blink {
  animation: blink 0.5s infinite alternate;
}
</style>

